In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in e:\python\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in e:\python\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\usman\appdata\roaming\python\python311\site-packages (from ipython-sql) (8.22.1)
Requirement already satisfied: sqlalchemy>=2.0 in e:\python\lib\site-packages (from ipython-sql) (2.0.29)
Requirement already satisfied: sqlparse in e:\python\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in e:\python\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in e:\python\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in e:\python\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in e:\python\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\usman\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\usman\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\usman\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\usman\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\usman\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\usman\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\usman\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: colorama in c:\users\usman\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\usman\appdata\roaming\python\python311\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\usman\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\usman\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\usman\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\usman\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

WARNING: Skipping e:\python\Lib\site-packages\pytz-2024.1.dist-info due to invalid metadata entry 'name'
WARNING: Skipping e:\python\Lib\site-packages\pytz-2024.1.dist-info due to invalid metadata entry 'name'
WARNING: Skipping e:\python\Lib\site-packages\pytz-2024.1.dist-info due to invalid metadata entry 'name'
WARNING: Skipping e:\python\Lib\site-packages\pytz-2024.1.dist-info due to invalid metadata entry 'name'

In [3]:
%load_ext autoreload
%autoreload 2

%load_ext sql

In [5]:
%sql postgresql://postgres:F4D42FD7@127.0.0.1/Assignment_2

In [6]:
%sql SELECT * FROM Videoplay_fact LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/Assignment_2
1 rows affected.

[(1, datetime.time(10, 0), Decimal('1'), 'Beginner', Decimal('1'), Decimal('1'), Decimal('123'), 'Location', 'UserAgent')]

In [7]:
%sql SELECT * FROM Users_dim LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/Assignment_2
1 rows affected.

[(Decimal('1'), 'John', 'Doe', 'Male', 'Beginner')]

In [8]:
%sql SELECT * FROM Videos_dim LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/Assignment_2
1 rows affected.

[(Decimal('1'), 'Video Title', Decimal('1'), 2024, datetime.time(1, 0))]

In [10]:
%sql SELECT * FROM Youtubers_dim LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/Assignment_2
1 rows affected.

[(Decimal('1'), 'Youtuber Name', 'Location', Decimal('123.456'), Decimal('-78.901'))]

In [9]:
%sql SELECT * FROM Time_dim LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/Assignment_2
1 rows affected.

[(datetime.time(10, 0), 10, 5, 14, 4, 2024, 'Tuesday')]

## REMEMBER: Restart this notebook to close connection to `youtubedb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `extract_transform_load.py`, or `extract_transform_load.ipynb` files since you can't make multiple connections to the same database (in this case, youtubedb).